$blue: #05668d;
$blueOpac: #c0dae4;
$lighten1: #028090;
$lighten2: #00a896;
$lighten3: #02c39a;
$snow: #f0f3bd;


.GroupChatContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}